<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'libraries.html' %}

  </head>
  <body>
    {% include 'nav.html' %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <h5>Redis cache deleted...</h5>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </body>

</html>
