<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'libraries.html' %}

  </head>
  <body>
    {% include 'nav.html' %}
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <h5>Querying Redis Cache...</h5>
        </div>
      </div>
      <div class="alert alert-secondary" role="alert">
        SQL Query: {{ sql  }}
      </div>      
      {% if records_in_cache == true %}
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
            &nbsp; &nbsp; Records in cache.
        </div>
      </div>      
      {% else %}
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
            &nbsp; &nbsp; Records not in cache. Populated Redis cache from MySQL. Click on "Query Cache" menu option above again.
        </div>
      </div>
      {% endif %}
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <h5>Execution time: {{ delta }} seconds</h5>
          {% if TTL >= 0 %}
          <h5>TTL: {{ TTL }} seconds</h5>
          {% else %}
          <h5>TTL: Expired</h5>
          {% endif %}
        </div>
      </div>
    </div>    
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          {% if data %}
          <h5>Dataset:</h5>
          {% set rows = data | count %}
	  {% set columns = fields | count %}
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
		{% for column in range(columns) %}
		<th scope="col"> {{ fields[column] }}  </th>
		{% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for num in range(rows) %}
              <tr>
                <th scope="row">{{ num + 1 }}</th>
                {% for column in range(columns) %}
	              	<td>{{ data[num][fields[column]] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h5>Dataset: {{ data }} </h5> 
          {% endif %}   
        </div>
      </div>
    </div>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </body>

</html>
